# ============================================================
# gitdock-task — Template de configuration
# Copier en .env.local et adapter
# ============================================================

APP_ENV=dev
APP_SECRET=CHANGE_ME_32_chars_random_string

DATABASE_URL="mysql://root:CHANGE_ME@127.0.0.1:3306/gitdock_tasks?serverVersion=8.0&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@127.0.0.1:5672/%2f
MAILER_DSN=null://null

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=CHANGE_ME_generate_with_openssl

AUTH_SERVICE_URL=http://localhost:8081
PROJECT_SERVICE_URL=http://localhost:8083
