# ============================================================
# gitdock-notification — Variables d'environnement
# ============================================================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=gitdock_notification
DB_USERNAME=postgres
DB_PASSWORD=postgres

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# En dev : Mailtrap (https://mailtrap.io)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=CHANGE_ME
MAIL_PASSWORD=CHANGE_ME

EUREKA_DEFAULT_ZONE=http://localhost:8761/eureka/
FRONTEND_URL=http://localhost:5173

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
